---
import '@fontsource/birthstone';
import '@fontsource/inter/400.css';
import '@fontsource/inter/700.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const breakfastSandwiches = [
	{name: 'Scrambled Egg & Bacon Breakfast Burrito', price: 8.95},
	{name: 'Scrambled Egg Bagel', price: 7.95},
	{name: 'Hearty Beef & Egg Bagel', price: 8.95},
	{name: 'Creamy Egg Onion Sandwich', price: 7.95},
	{name: 'Eggvocado Bean Burrito', price: 7.95},
	{name: 'Yogurt & Berries', price: 6.95},
	{name: 'Breakfast Beef Pocket', price: 7.95},
	{name: 'Country Peas Sandwich', price: 7.95}
];

const allDaySandwiches = [
	{name: 'Cranberry-Walnut Chicken Sandwich', price: 11.95},
	{name: 'Chickpea Sandwich', price: 9.95},
	{name: 'Horseradish Cold Roast Beef Sandwich', price: 11.95},
	{name: 'Turkey Bacon Avocado Sandwich', price: 11.95},
	{name: 'Egg Salad Sandwich', price: 9.95},
	{name: 'Turkey Bacon Pocket', price: 9.95}
];

const pancakesAndWaffles = [
	{name: 'Buttermilk Pancake', description: '3 pieces of pancake come with syrup, butter and fresh seasonal berries', price: 8.95},
	{name: 'Waffle', description: '2 pieces of waffle come with waffle syrup, butter and fresh seasonal berries', price: 11.95}
];

const salads = [
	{name: 'Chicken Caesar Salad', price: 9.95},
	{name: 'Chickpea Salad', price: 9.95},
	{name: 'Cranberry-Walnut Chicken Salad', price: 11.95}
];

const miniPizzas = [
	{name: 'Pizza Three Cheese (6 inch)', price: 8.95},
	{name: 'Pizza Pepperoni (6 inch)', price: 9.50}
];

const bottledBeverages = [
	{name: 'Aquafina Water (591ml)', price: 2.50},
	{name: 'Pepsi (591ml)', price: 2.50},
	{name: 'Diet Pepsi (591ml)', price: 2.50},
	{name: 'Dr. Pepper (591ml)', price: 2.50},
	{name: 'Brisk Iced Tea (591ml)', price: 2.50},
	{name: 'Tropicana Orange Juice (355ml)', price: 3.50},
	{name: 'Tropicana Apple Juice (355ml)', price: 3.50},
	{name: 'Gatorade (591ml)', price: 4.50},
	{name: "Lays / Miss Vickie's Chips", price: 2.50}
];

const bakedGoods = [
	{name: 'Cheesecake Very Berry', price: 5.95},
	{name: 'Cheesecake New York', price: 5.95},
	{name: 'Macarons', price: 2.95},
	{name: 'Macrons - Box of 10', price: 26.00},
	{name: 'Macrons - Box of 20', price: 48.00},
	{name: 'Chocolate Chip Cookie', price: 3.50},
	{name: 'Oatmeal Chocolate Cookie', price: 3.50},
	{name: 'Cookies - Box of 6', price: 18.00},
	{name: 'Cookies - Box of 12', price: 30.00},
	{name: 'Butter Croissant', price: 4.95},
	{name: 'Butter Croissants - Box of 6', price: 21.95},
	{name: 'Cinnamon Roll', price: 4.95},
	{name: 'Cinnamon Roll - Box of 6', price: 27.95},
	{name: 'Blueberry Scones', price: 3.95},
	{name: 'Scones - Box of 6', price: 21.95},
	{name: 'Blueberry Muffin', price: 3.95},
	{name: 'Muffins - Box of 6', price: 21.95},
	{name: 'Morning Glory Muffin', price: 3.95},
	{name: 'Strudel Blueberry Cream', price: 4.95}
];

const hotBeverages = [
	{name: 'Cappuccino', price: {regular: 4.25, large: 4.75}},
	{name: 'Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'Mocha', price: {regular: 4.95, large: 5.75}},
	{name: 'Flat White', price: {regular: 4.25, large: 4.75}},
	{name: 'Espresso', price: {regular: 3.75, large: 4.50}},
	{name: 'Americano', price: {regular: 3.95, large: 4.50}},
	{name: 'Shot in the Dark', price: {regular: 3.95, large: 4.75}},
	{name: 'Organic Brewed Coffee', price: {regular: 3.50, large: 4.00}},
	{name: 'Cafe Misto', price: {regular: 4.25, large: 4.75}},
	{name: 'Chai Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'London Fog', price: {regular: 3.95, large: 4.50}},
	{name: 'Tea (Organic Breakfast, Organic Earl Grey, Green Tropical, Chai Tea)', price: {regular: 3.50, large: 4.00}},
	{name: 'Hot Chocolate', price: {regular: 3.95, large: 4.50}}
];

const icedBeverages = [
	{name: 'Iced Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'Iced Mochaccino', price: {regular: 4.95, large: 5.75}},
	{name: 'Iced Caramel Macchiato', price: {regular: 4.95, large: 5.75}},
	{name: 'Iced Coffee', price: {regular: 3.50, large: 4.25}}
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Vic Cafe</title>
	</head>
	<body class="font-inter leading-6">
		<Header />
		<main>
			<section>
				<!-- TO DO - background image -->
				<h1>The Vic Cafe</h1>
				<p>Located inside <strong>The Vic</strong> hotel, <strong>The Vic Cafe</strong> proudly serves delicious coffee and sandwiches to the Greater Victoria community.</p>
				<div>
					<a href="#">Order Online</a>
				</div>
			</section>

			<section>
				<img src="images/dry-display-case-and-interior-panoramic.jpg" alt="dry display case and interior panoramic">
				<div>
					<img src="images/coffee-beans.svg" alt="coffee beans">
					<h2>About Us</h2>
					<p>At The Vic Cafe (located inside The Vic hotel ― entrance from both hotel lobby and exterior), our passion is to serve the Greater Victoria community with delicious coffee and sandwiches. With an unparalleled focus on quality, we make fresh sandwiches for every order using the best ingredients.</p>
					<p>We are open for dine-in and take-out. Also available on SkipTheDishes.</p>
					<h3>Why Us?</h3>
					<ul>
						<li>
							<img src="/images/fork-and-knife.svg" alt="fork and knife">
							<p>Extensive Menu</p>
						</li>
						<li>
							<img src="images/leaves.svg" alt="leaves">
							<p>Organic Coffee</p>
						</li>
					</ul>
				</div>
			</section>

			<section>
				<img src="images/coffee-beans.svg" alt="coffee beans">
				<h2>Our Menu</h2>

				<div>
					<section>
						<h3>Breakfast Sandwiches (all day)</h3>
						<ul>
							{breakfastSandwiches.map(({name, price}) =>
								<li>
									<span>{name}</span>
									<span>${price}</span>
								</li>
							)}
						</ul>
					</section>
					<div>
						<!-- TO DO - images -->
					</div>
				</div>

				<div>
					<div>
						<!-- TO DO - images -->
					</div>
					<section>
						<h3>Pancakes and Waffles</h3>
						<ul>
							{pancakesAndWaffles.map(({name, description, price}) =>
								<li>
									<span>{name}<br>{description}</span>
									<span>${price}</span>
								</li>
							)}
						</ul>
					</section>
				</div>

				<div>
					<section>
						<h3>All-Day Sandwiches (all day)</h3>
						<ul>
							{allDaySandwiches.map(({name, price}) =>
								<li>
									<span>{name}</span>
									<span>${price}</span>
								</li>
							)}
						</ul>
						<p>Breakfast & All-day Sandwiches have a choice of white bread, multigrain bread & bagels - plain, everything, sesame seed, multigrain.</p>
					</section>
					<div>
						<!-- TO DO - images -->
					</div>
				</div>

				<div>
					<div>
						<section>
							<h3>Salads</h3>
							<ul>
								{salads.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>	
						</section>
						<section>
							<h3>Mini Pizzas</h3>
							<ul>
								{miniPizzas.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>
						</section>
						<section>
							<h3>Bottled Beverages</h3>
							<ul>
								{bottledBeverages.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>
						</section>
					</div>
					<section>
						<h3>Baked Goods</h3>
						<ul>
							{bakedGoods.map(({name, price}) =>
								<li>
									<span>{name}</span>
									<span>${price}</span>
								</li>
							)}
						</ul>	
					</section>
				</div>

				<div>
					<section>
						<h2>Hot Beverages</h2>
						<p>Add Flavor: $0.75</p>
						<p>
							<strong>Regular</strong>
							<strong>Large</strong>
						</p>
						<ul>
							{hotBeverages.map(({name, price:{regular, large}}) =>
								<li>
									<span>{name}</span>
									<span>${regular}</span>
									<span>${large}</span>
								</li>
							)}
						</ul>
					</section>
					<section>
						<h2>Iced Beverages</h2>
						<p>Add Flavor: $0.75</p>
						<ul>
							
						</ul>
						<p><strong>Food Allergy Notice</strong> ― Please be advised that food prepared in this facility may contain these ingredients: milk, eggs, wheat, soybeans, peanuts, and tree nuts.</p>
					</section>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>