---
import '@fontsource/birthstone';
import '@fontsource/inter/400.css';
import '@fontsource/inter/700.css';
import '../styles/base.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const breakfastSandwiches = [
	{name: 'Scrambled Egg & Bacon Breakfast Burrito', price: 8.95},
	{name: 'Scrambled Egg Bagel', price: 7.95},
	{name: 'Hearty Beef & Egg Bagel', price: 8.95},
	{name: 'Creamy Egg Onion Sandwich', price: 7.95},
	{name: 'Eggvocado Bean Burrito', price: 7.95},
	{name: 'Yogurt & Berries', price: 6.95},
	{name: 'Breakfast Beef Pocket', price: 7.95},
	{name: 'Country Peas Sandwich', price: 7.95}
];

const allDaySandwiches = [
	{name: 'Cranberry-Walnut Chicken Sandwich', price: 11.95},
	{name: 'Chickpea Sandwich', price: 9.95},
	{name: 'Horseradish Cold Roast Beef Sandwich', price: 11.95},
	{name: 'Turkey Bacon Avocado Sandwich', price: 11.95},
	{name: 'Egg Salad Sandwich', price: 9.95},
	{name: 'Turkey Bacon Pocket', price: 9.95}
];

const pancakesAndWaffles = [
	{name: 'Buttermilk Pancake', description: '3 pieces of pancake come with syrup, butter and fresh seasonal berries', price: 8.95},
	{name: 'Waffle', description: '2 pieces of waffle come with waffle syrup, butter and fresh seasonal berries', price: 11.95}
];

const salads = [
	{name: 'Chicken Caesar Salad', price: 9.95},
	{name: 'Chickpea Salad', price: 9.95},
	{name: 'Cranberry-Walnut Chicken Salad', price: 11.95}
];

const miniPizzas = [
	{name: 'Pizza Three Cheese (6 inch)', price: 8.95},
	{name: 'Pizza Pepperoni (6 inch)', price: 9.50}
];

const bottledBeverages = [
	{name: 'Aquafina Water (591ml)', price: 2.50},
	{name: 'Pepsi (591ml)', price: 2.50},
	{name: 'Diet Pepsi (591ml)', price: 2.50},
	{name: 'Dr. Pepper (591ml)', price: 2.50},
	{name: 'Brisk Iced Tea (591ml)', price: 2.50},
	{name: 'Tropicana Orange Juice (355ml)', price: 3.50},
	{name: 'Tropicana Apple Juice (355ml)', price: 3.50},
	{name: 'Gatorade (591ml)', price: 4.50},
	{name: "Lays / Miss Vickie's Chips", price: 2.50}
];

const bakedGoods = [
	{name: 'Cheesecake Very Berry', price: 5.95},
	{name: 'Cheesecake New York', price: 5.95},
	{name: 'Macarons', price: 2.95},
	{name: 'Macrons - Box of 10', price: 26.00},
	{name: 'Macrons - Box of 20', price: 48.00},
	{name: 'Chocolate Chip Cookie', price: 3.50},
	{name: 'Oatmeal Chocolate Cookie', price: 3.50},
	{name: 'Cookies - Box of 6', price: 18.00},
	{name: 'Cookies - Box of 12', price: 30.00},
	{name: 'Butter Croissant', price: 4.95},
	{name: 'Butter Croissants - Box of 6', price: 21.95},
	{name: 'Cinnamon Roll', price: 4.95},
	{name: 'Cinnamon Roll - Box of 6', price: 27.95},
	{name: 'Blueberry Scones', price: 3.95},
	{name: 'Scones - Box of 6', price: 21.95},
	{name: 'Blueberry Muffin', price: 3.95},
	{name: 'Muffins - Box of 6', price: 21.95},
	{name: 'Morning Glory Muffin', price: 3.95},
	{name: 'Strudel Blueberry Cream', price: 4.95}
];

const hotBeverages = [
	{name: 'Cappuccino', price: {regular: 4.25, large: 4.75}},
	{name: 'Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'Mocha', price: {regular: 4.95, large: 5.75}},
	{name: 'Flat White', price: {regular: 4.25, large: 4.75}},
	{name: 'Espresso', price: {regular: 3.75, large: 4.50}},
	{name: 'Americano', price: {regular: 3.95, large: 4.50}},
	{name: 'Shot in the Dark', price: {regular: 3.95, large: 4.75}},
	{name: 'Organic Brewed Coffee', price: {regular: 3.50, large: 4.00}},
	{name: 'Cafe Misto', price: {regular: 4.25, large: 4.75}},
	{name: 'Chai Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'London Fog', price: {regular: 3.95, large: 4.50}},
	{name: 'Tea (Organic Breakfast, Organic Earl Grey, Green Tropical, Chai Tea)', price: {regular: 3.50, large: 4.00}},
	{name: 'Hot Chocolate', price: {regular: 3.95, large: 4.50}}
];

const icedBeverages = [
	{name: 'Iced Latte', price: {regular: 4.25, large: 4.75}},
	{name: 'Iced Mochaccino', price: {regular: 4.95, large: 5.75}},
	{name: 'Iced Caramel Macchiato', price: {regular: 4.95, large: 5.75}},
	{name: 'Iced Coffee', price: {regular: 3.50, large: 4.25}}
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Vic Cafe</title>
	</head>
	<body class="font-inter leading-relaxed">
		<Header/>
		<main>
			<section class="bg-[url(images/cafe-interior.jpg)] bg-right bg-no-repeat bg-cover">
				<div class="pt-[264px] pb-44 bg-gradient-to-r from-black/75 to-transparent md:pt-[294px] md:pb-[200px] lg:pt-[324px] lg:pb-56">
					<div class="set-width flex flex-col gap-5 px-5 md:gap-6 lg:gap-7">
						<h1 class="text-7xl text-white md:text-8xl lg:text-[120px]">The Vic Cafe</h1>
						<p class="w-[296px] text-gray-light text-justify md:w-[416px] lg:w-[520px]">Located inside <strong>The Vic</strong> hotel, <strong>The Vic Cafe</strong> proudly serves delicious coffee and sandwiches to the Greater Victoria community.</p>
						<div>
							<a class="btn btn-yellow" href="#">Order Online</a>
						</div>
					</div>
				</div>
			</section>

			<section class="set-width grid gap-12 px-5 py-24 md:grid-cols-2 md:gap-16 md:py-[120px] lg:gap-20 lg:py-36">
				<img src="images/dry-display-case-and-cafe-interior.jpg" alt="dry display case and cafe interior">
				<div class="flex flex-col gap-5">
					<svg class="w-6 fill-brown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<title>Coffee Beans</title>
						<path d="M274.09 314.832c0-60.648 49.762-109.996 110.926-109.996 54.422 0 93.918-35.621 93.918-84.703v-16.887c-10.102-5.895-21.809-9.332-34.328-9.332h-8.531c-98.734 0-179.051 80.328-179.051 179.059 0 17.262 6.477 33.004 17.066 45.055zm221.914-197.5v2.797c0 58.977-46.684 101.781-110.996 101.781-51.75 0-93.852 41.687-93.852 92.918v17.246c10.086 5.871 21.766 9.293 34.25 9.293h8.535C432.68 341.367 513 261.039 513 162.309c0-17.23-6.453-32.937-16.996-44.977zM127.93 148.738c-.191.441-.43.859-.703 1.262-14.027 20.98-18.473 46.246-12.184 69.328 6.082 22.371 21.902 40.711 44.539 51.641l16.777 7.156c9.777-6.383 18.098-15.066 23.66-25.922l3.902-7.609c21.426-41.812 24.855-89.195 9.676-133.418-15.812-46.043-49.629-83.082-95.227-104.305-16.28-7.578-34.147-8.523-50.35-4.07l2.852 1.434c57.297 26.664 81.93 88.836 57.059 144.504zM105.555 283.32c9.906 4.617 20.41 6.801 30.77 6.801 6.406 0 12.754-.863 18.871-2.477l-2.668-1.145c-27.52-13.285-46.555-35.484-53.953-62.687-7.52-27.621-2.391-57.707 14.055-82.672 20.484-46.762-.566-98.914-49.184-121.543l-15.598-7.816c-9.926 6.391-18.312 15.223-23.945 26.215l-3.898 7.602C-1.421 87.407-4.85 134.797 10.329 179.024c15.813 46.035 49.637 83.082 95.227 104.297zm57.98 119.36c42.238 42.449 88.453 43.574 130.152 3.156a9.21 9.21 0 0 1 .723-.625l11.598-8.957c-3.219-12.391-10.02-23.66-19.941-32.578l-6.305-5.762c-75.027-69.473-191.441-66.598-259.336 6.223C8.711 375.973 2.02 391.16 1.184 407.34l3.156-2.449c54.457-49.234 111.168-50.172 159.195-2.211zm-12.078 12.047c-41.777-41.715-87.598-40.641-136.168 3.234l-12.082 9.387c3.207 12.32 9.918 23.551 19.711 32.5l6.348 5.793c.063.063.129.113.199.172 35.863 30.785 81.461 46.059 126.762 46.059 48.594 0 96.836-17.582 132.309-52.465 11.816-11.844 18.582-26.996 19.469-43.125l-2.789 2.148c-48.703 46.941-104.715 45.59-153.758-3.703zm0 0"/>
					</svg>
					<h2 class="text-[64px] text-brown md:text-[80px] lg:text-8xl">About Us</h2>
					<p>At <strong>The Vic Cafe</strong> (located inside <strong>The Vic</strong> hotel ― entrance from both hotel lobby and exterior), our passion is to serve the Greater Victoria community with delicious coffee and sandwiches. With an unparalleled focus on quality, we make fresh sandwiches for every order using the best ingredients.</p>
					<p>We are open for dine-in and take-out. Also available on SkipTheDishes.</p>
					<h3 class="mt-5 text-[40px] md:text-[44px] lg:text-5xl">Why Us?</h3>
					<ul class="flex items-center gap-7 md:gap-8 lg:gap-12">
						<li class="flex items-baseline gap-2">
							<svg class="w-4 fill-brown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 350">
								<title>Fork and Knife</title>
								<path d="M344.344 311.934l.113-.047-90.957-92.188c-5.039-1.484-34.508-14.445-35.016-38.805 12.574-14.406 30.859-28.246 57.867-28.52.043-.023.184-.035.254-.035 12.215.332 24.547-3.723 34.355-12.297.688-.602 2.301-2.246 2.301-2.246l67.469-85.031-8.102-8.133-82.543 87.387-9.742-9.77 84.957-84.949-7.141-7.098-85.457 85.469-8.078-8.086 85.465-85.473-7.859-7.844-85.469 85.461-9.578-9.559L335.402 7.41 327.996 0l-81.301 63.336s-2.945 2.484-3.969 3.52c-11.16 11.152-15.953 26.289-14.352 40.863-1.125 18.492-7.105 32.223-14.859 42.66C61.953 2.102 4.797 17.961 4.797 17.961L.27 22.555 165.156 187.84 36.543 316.477l.012.02c-.094.094-.211.129-.32.246-7.609 7.617-7.582 19.945.012 27.551s19.965 7.605 27.547.023c.121-.117.156-.246.227-.312l.023.02L192.66 215.449l20.715 20.734 103.313 103.359h.113c0 .117.105.223.211.27 7.594 7.648 20.063 7.648 27.645 0 7.699-7.582 7.699-20.008 0-27.645-.094-.117-.199-.164-.312-.234zm0 0"/>
							</svg>
							<p>Extensive Menu</p>
						</li>
						<li class="flex items-center gap-2">
							<svg class="w-5 fill-brown" xmlns="http://www.w3.org/2000/svg" viewBox="0 57.54 500 384.91">
								<title>Leaves</title>
								<path d="M392.875 57.543c-36.922 0-71.426 11.105-99.773 32.109-25.105 18.598-43.711 44.316-51.051 70.555-8.398 30.031-1.574 57.164 18.215 75.07-6.809 11.961-13.141 24.305-18.156 36.277-4.605-11.453-10.738-21.715-17.672-30.855 9.832-15.625 11.195-34.711 3.469-54.27-7.273-18.418-22.004-35.398-41.48-47.82-21.012-13.398-45.746-20.477-71.535-20.477-33.094 0-67.043 11.934-98.176 34.52L0 164.773l19.926 5.414c32.871 8.934 59.105 34.273 82.25 56.633 23.633 22.828 45.953 44.391 71.809 44.395 12.738 0 24.898-5.086 37.07-15.48 11.684 16.469 19.992 36.656 19.992 61.211v125.512h19.766l.02-127.867c0-15.773 9.25-39.023 25.734-68.074 12.242 6.609 23.684 9.836 34.824 9.836 36.328 0 59.953-34.762 84.969-71.562 22.324-32.848 47.629-70.082 85.277-89.363L500 86.023l-18.836-8.418c-29.801-13.312-59.504-20.062-88.289-20.062zM173.996 251.449c-17.879-.004-36.512-18.004-58.086-38.848-20.422-19.727-43.078-41.613-71.457-54.488 23.07-13.426 46.691-20.215 70.438-20.215 47.66 0 83.684 28.066 94.633 55.793 2.836 7.18 5.766 19.066.977 30.965-17.73-18-37.246-30.301-49.391-37.957l-8.672-5.629-11.453 16.109c2.496 1.777 5.781 3.848 9.586 6.242 12.508 7.887 31.492 19.855 47.883 37.082-8.539 7.352-16.566 10.945-24.457 10.945zm206.012-77.773c-22.941 33.758-42.754 62.91-68.617 62.91-7.586 0-15.711-2.332-24.703-7.082l2.688-4.297c19.586-30.965 39.473-56.031 39.672-56.281l-15.469-12.309c-1.695 2.129-22.559 28.508-42.883 61.18-11.957-12.879-15.484-31.254-9.609-52.266 6.18-22.094 22.137-43.961 43.781-59.996 17.379-12.875 46.754-28.227 88.008-28.227 20.219 0 41.043 3.734 62.125 11.125-32.332 22.48-54.812 55.551-74.992 85.242zm0 0"/>
							</svg>
							<p>Organic Coffee</p>
						</li>
					</ul>
				</div>
			</section>

			<section class="text-gray-light bg-matte-black">
				<div class="set-width px-5 py-24 md:py-[120px] lg:py-36">
					<svg class="w-6 mx-auto fill-brown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<title>Coffee Beans</title>
						<path d="M274.09 314.832c0-60.648 49.762-109.996 110.926-109.996 54.422 0 93.918-35.621 93.918-84.703v-16.887c-10.102-5.895-21.809-9.332-34.328-9.332h-8.531c-98.734 0-179.051 80.328-179.051 179.059 0 17.262 6.477 33.004 17.066 45.055zm221.914-197.5v2.797c0 58.977-46.684 101.781-110.996 101.781-51.75 0-93.852 41.687-93.852 92.918v17.246c10.086 5.871 21.766 9.293 34.25 9.293h8.535C432.68 341.367 513 261.039 513 162.309c0-17.23-6.453-32.937-16.996-44.977zM127.93 148.738c-.191.441-.43.859-.703 1.262-14.027 20.98-18.473 46.246-12.184 69.328 6.082 22.371 21.902 40.711 44.539 51.641l16.777 7.156c9.777-6.383 18.098-15.066 23.66-25.922l3.902-7.609c21.426-41.812 24.855-89.195 9.676-133.418-15.812-46.043-49.629-83.082-95.227-104.305-16.28-7.578-34.147-8.523-50.35-4.07l2.852 1.434c57.297 26.664 81.93 88.836 57.059 144.504zM105.555 283.32c9.906 4.617 20.41 6.801 30.77 6.801 6.406 0 12.754-.863 18.871-2.477l-2.668-1.145c-27.52-13.285-46.555-35.484-53.953-62.687-7.52-27.621-2.391-57.707 14.055-82.672 20.484-46.762-.566-98.914-49.184-121.543l-15.598-7.816c-9.926 6.391-18.312 15.223-23.945 26.215l-3.898 7.602C-1.421 87.407-4.85 134.797 10.329 179.024c15.813 46.035 49.637 83.082 95.227 104.297zm57.98 119.36c42.238 42.449 88.453 43.574 130.152 3.156a9.21 9.21 0 0 1 .723-.625l11.598-8.957c-3.219-12.391-10.02-23.66-19.941-32.578l-6.305-5.762c-75.027-69.473-191.441-66.598-259.336 6.223C8.711 375.973 2.02 391.16 1.184 407.34l3.156-2.449c54.457-49.234 111.168-50.172 159.195-2.211zm-12.078 12.047c-41.777-41.715-87.598-40.641-136.168 3.234l-12.082 9.387c3.207 12.32 9.918 23.551 19.711 32.5l6.348 5.793c.063.063.129.113.199.172 35.863 30.785 81.461 46.059 126.762 46.059 48.594 0 96.836-17.582 132.309-52.465 11.816-11.844 18.582-26.996 19.469-43.125l-2.789 2.148c-48.703 46.941-104.715 45.59-153.758-3.703zm0 0"/>
					</svg>
					<h2 class="text-[64px] text-center text-white md:text-[80px] lg:text-8xl">Our Menu</h2>

					<div class="grid gap-12 pt-12 md:grid-cols-2 md:gap-16 md:pt-[60px] lg:gap-20 lg:pt-[72px]">
						<section class="order-2">
							<h3 class="text-[40px] text-white md:text-[44px] lg:text-5xl">Breakfast Sandwiches (all day)</h3>
							<ul class="[&_li]:grid [&_li]:grid-cols-[4fr_1fr] [&_li]:py-5 [&_li:not(:last-child)]:border-b [&_li]:border-dotted [&_li]:border-brown [&_span:last-child]:text-right">
								{breakfastSandwiches.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>
						</section>
						<div class="md:order-2">
							<!-- TO DO - images -->
						</div>
					</div>

					<div class="grid gap-12 pt-24 md:grid-cols-2 md:gap-16 md:pt-[120px] lg:gap-20 lg:pt-36">
						<div>
							<!-- TO DO - images -->
						</div>
						<section>
							<h3 class="text-[40px] text-white md:text-[44px] lg:text-5xl">Pancakes and Waffles</h3>
							<ul class="[&_li]:grid [&_li]:grid-cols-[4fr_1fr] [&_li]:py-5 [&_li:not(:last-child)]:border-b [&_li]:border-dotted [&_li]:border-brown [&_span:last-child]:text-right">
								{pancakesAndWaffles.map(({name, description, price}) =>
									<li>
										<span>{name}<br>{description}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>
						</section>
					</div>

					<div class="grid gap-12 pt-24 md:grid-cols-2 md:gap-16 md:pt-[120px] lg:gap-20 lg:pt-36">
						<section class="order-2">
							<h3 class="text-[40px] text-white md:text-[44px] lg:text-5xl">All-Day Sandwiches (all day)</h3>
							<ul class="[&_li]:grid [&_li]:grid-cols-[4fr_1fr] [&_li]:py-5 [&_li:not(:last-child)]:border-b [&_li]:border-dotted [&_li]:border-brown [&_span:last-child]:text-right">
								{allDaySandwiches.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>
							<p>Breakfast & All-day Sandwiches have a choice of white bread, multigrain bread & bagels - plain, everything, sesame seed, multigrain.</p>
						</section>
						<div class="md:order-2">
							<!-- TO DO - images -->
						</div>
					</div>

					<div>
						<div>
							<section>
								<h3>Salads</h3>
								<ul>
									{salads.map(({name, price}) =>
										<li>
											<span>{name}</span>
											<span>${price}</span>
										</li>
									)}
								</ul>	
							</section>
							<section>
								<h3>Mini Pizzas</h3>
								<ul>
									{miniPizzas.map(({name, price}) =>
										<li>
											<span>{name}</span>
											<span>${price}</span>
										</li>
									)}
								</ul>
							</section>
							<section>
								<h3>Bottled Beverages</h3>
								<ul>
									{bottledBeverages.map(({name, price}) =>
										<li>
											<span>{name}</span>
											<span>${price}</span>
										</li>
									)}
								</ul>
							</section>
						</div>
						<section>
							<h3>Baked Goods</h3>
							<ul>
								{bakedGoods.map(({name, price}) =>
									<li>
										<span>{name}</span>
										<span>${price}</span>
									</li>
								)}
							</ul>	
						</section>
					</div>

					<div>
						<section>
							<h2>Hot Beverages</h2>
							<p>Add Flavor: $0.75</p>
							<p>
								<strong>Regular</strong>
								<strong>Large</strong>
							</p>
							<ul>
								{hotBeverages.map(({name, price:{regular, large}}) =>
									<li>
										<span>{name}</span>
										<span>${regular}</span>
										<span>${large}</span>
									</li>
								)}
							</ul>
						</section>
						<section>
							<h2>Iced Beverages</h2>
							<p>Add Flavor: $0.75</p>
							<ul>
								
							</ul>
							<p><strong>Food Allergy Notice</strong> ― Please be advised that food prepared in this facility may contain these ingredients: milk, eggs, wheat, soybeans, peanuts, and tree nuts.</p>
						</section>
					</div>
				</div>
			</section>

			<div>
				<section>
					<h3>Contact</h3>
					<section>
						<img src="images/phone.svg" alt="phone">
						<h4>Phone</h4>
						<p>250.590.2345</p>
					</section>
				</section>
				<section>
					<h3>Location</h3>
					<section>
						<img src="images/location.svg" alt="location">
						<h4>Address</h4>
						<p>123 George Rd E<br>Victoria, BC V9A 1L1</p>
					</section>
				</section>
				<section>
					<h3>Useful Links</h3>
					<nav>
						<ul>
							<li>
								<a href="#about-us">About Us</a>
							</li>
							<li>
								<a href="#our-menu">Our Menu</a>
							</li>
						</ul>
					</nav>
				</section>
				<section>
					<h3>Hours</h3>
					<p><strong>Weekdays</strong> 7am ― 8pm</p>
					<p><strong>Weekend</strong> 7am ― 8pm</p>					
				</section>
			</div>
		</main>
		<Footer />
		<script>
			import '../scripts/menu.js';	
		</script>
	</body>
</html>